.resumebody {
    /* background: linear-gradient(#b6c5d5, 30%, white); */
    background-color: white;
    padding-top: 0;
    margin-top: -3.37%;
}
.resumeheader {
    padding-left: 4vmin;
    /* color: rgb(253, 253, 253); */
    color: #b6c5d5;
    font-size: 5vmax;
}
.resume {
    align-items: center;
    justify-content: center;
    display: flex;
}
.resumecontainer {
    height: 80vh;
    width: 60%;
}
.resumepdf {
    height: 100%;
    width: 100%;
}