.bodycontainer {
    color: rgb(246, 246, 246);
    display: flex;
    padding-top: 7%;
    height: 100vh;
}
.bodybackground {
    width: 100%;
}
.bodyheader {
    margin: 0;
    font-size: 15vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    font-family: 'HelveticaLTStd-Bold';
}
.bodytext {
    margin: 0;
    font-size: 9vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    font-family: 'HelveticaLTStd-Light';
    display: flex;
}
.myname {
    font-family: 'HelveticaLTStd-Bold';
}
#hello {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#aboutme {
    padding: 2vmin;
    margin: 4vmin;
    background: rgba(113, 113, 113, 0.7);
    border-radius: 20px;
}
#mypicture {
    width: 50%;
    margin: 4vmin;
    color: black;
    border-radius: 5%;
}
.myimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5%;
}
.footertext {
    text-align: center;
    width: 100%;
    font-size: 2vmin;
    background-color: whitesmoke;
    color: rgb(172, 172, 172);
}