.bodycontainer {
    color: whitesmoke;
    display: flex;
}
.bodybackground {
    width: 100%;
}
.bodyheader {
    margin: 0;
    font-size: 15vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    font-family: 'HelveticaLTStd-Bold';
}
.bodytext {
    margin: 0;
    font-size: 9vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    font-family: 'HelveticaLTStd-Light';
    display: flex;
}
.myname {
    font-family: 'HelveticaLTStd-Bold';
}
#hello {
    width: 50%;
}
#aboutme {
    padding: 2vmin;
    margin: 4vmin;
    background: rgba(77, 77, 77, 0.7);
    border-radius: 20px;
}
#mypicture {
    width: 50%;
    background-color: white;
    margin: 4vmin;
    color: black;
}
.myimage {
    width: 100%;
    height: 100%;
}