body {

}
.projectheader {
    padding-left: 4vmin;
    color: rgb(253, 253, 253);
    font-size: 5vmax;
}
.projectslist {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-right: 4vmax;
    margin-left: 4vmax;
}
.projectslist li {
    /* background: rgba(208, 208, 208, 0.6); */
    height: 60vmin;
    margin-right: 8vmax;
    margin-left: 8vmax;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    padding: 2vmin;
    border-radius: 20px;
}
.projectcard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: contain;
}
.projectwrapper {
    text-align: center;
    display: inline-block;
    width: 30%;
    margin-left: 5%;
    color: rgb(253, 253, 253);
}
.projecttitle {
    width: 100%;
    text-align: center;
}
.imgcontainer {
    height: 100%;
    width: 65%;
    margin: 0;
}
.projectimg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#aixuscard {
    /* margin-top: 3vmax; */
}