.projectsbody {
    background: linear-gradient(#b6c5d5, 95%, white);
}
.projectheader {
    padding-left: 4vmin;
    color: rgb(253, 253, 253);
    font-size: 5vmax;
}
.projectslist {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-right: 4vmax;
    margin-left: 4vmax;
}
.projectslist li {
    /* background: rgba(208, 208, 208, 0.6); */
    height: 60vmin;
    margin-right: 8vmax;
    margin-left: 8vmax;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    padding: 2vmin;
    border-radius: 20px;
}
.projectcard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: contain;
    /* --webkit--box--shadow: inset 0 0 40px 20px;
    background : rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 40px 20px #b6c5d5; */
}
.titleimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.projectwrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: rgb(253, 253, 253);
}
.projecttitle {
    width: 100%;
    text-align: center;
}
.rightimgcontainer {
    height: 100%;
    width: 65%;
    margin-left: 3%;
}
.leftimgcontainer {
    height: 100%;
    width: 65%;
    margin-right: 3%;
}
.projectimg {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
#readeeimg {
    transition: 0.3s;
}
#readeeimg:hover {
    width: 110%;
    transition: 0.3s;
}
#aixusimg {
    transition: 0.3s;
}
#aixusimg:hover {
    width: 103%;
    transition: 0.3s;
}
#bidosimg {
    transition: 0.3s;
}
#bidosimg:hover {
    width: 103%;
    transition: 0.3s;
}
#bplimg {
    transition: 0.3s;
}
#bplimg:hover {
    width: 103%;
    transition: 0.3s;
}