.navul {
    list-style: none;
    display: flex;
    flex-direction: left;
    align-items: center;
    height: 100%;
    padding: 2vmin;
    margin: 0;
    font-family: 'HelveticaLTStd-Light';
}
.navli {
    color: whitesmoke;
    font-size: 3vmin;
}

/* Navbar list items */
#navheadshot {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#headshot {
    height: 4vmax;
    border-radius: 25%;
}
#navhome {
    color: rgb(230, 209, 177);
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#navprojects {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#navabout {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#navcontact {
    margin-left: 3vmin;
    margin-right: 3vmin;
}