/* Desktop css */
.mynav {
    position: fixed;
    width: 100%;
    color: whitesmoke;
}
.scrolled {
    /* backdrop-filter: blur(20px); */
    background-color: whitesmoke;
    transition: background-color 0.5s ease-in-out;
    opacity: 0.9;
}
.navul {
    list-style: none;
    display: flex;
    flex-direction: left;
    align-items: center;
    height: 100%;
    padding: 2vmin;
    margin: 0;
    font-family: 'HelveticaLTStd-Light';
}
.navli {
    font-size: 3vmin;
}
.navbutton {
    background-color: transparent;
    border: none;
    font-size: 3vmin;
    font-family: 'HelveticaLTStd-Light';
    cursor: pointer;
    outline: none;
    color: whitesmoke;
}
.navbuttonscrolled {
    background-color: transparent;
    border: none;
    font-size: 3vmin;
    font-family: 'HelveticaLTStd-Light';
    cursor: pointer;
    outline: none;
    color: rgb(172, 172, 172);
    transition: color 0.5s ease-in-out;
}
.activenav {
    background-color: transparent;
    border: none;
    font-size: 3vmin;
    font-family: 'HelveticaLTStd-Light';
    cursor: pointer;
    outline: none;
    color: rgb(230, 209, 177);
}

/* Navbar list items */
#navheadshot {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#headshot {
    height: 4vmax;
    border-radius: 25%;
}
#navhome {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#navprojects {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#navabout {
    margin-left: 3vmin;
    margin-right: 3vmin;
}
#navcontact {
    margin-left: 3vmin;
    margin-right: 3vmin;
}

/* Mobile CSS */
@media (max-width: 771px) {
    .mynav {
        position: fixed;
        width: 100vw;
        height: 5vh;
        color: whitesmoke;
    }
    .navul {
        list-style: none;
        display: flex;
        flex-direction: left;
        align-items: center;
        justify-content: space-around;
        vertical-align: middle;
        height: 100%;
        width: 100vw;
        padding: 0;
        margin: 0;
        font-family: 'HelveticaLTStd-Light';
    }
    .scrolled {
        /* backdrop-filter: blur(20px); */
        background-color: whitesmoke;
        transition: background-color 0.5s ease-in-out;
        opacity: 0.9;
    }
    .navli {
        display: block;
        height: 100%;
        margin: 0;
        justify-content: center;
    }
    .navlogo {
        height: 100%;
        width: 100%;
        color: whitesmoke;
    }
    .myicon {
        height: 100%;
        width: 100%;
        padding-left: 2vw;
        padding-top: 1.5vmin;
    }
    .navbutton {
        height: 100%;
        align-items: center;
    }
    .activenav {
        height: 100%;
    }
    #navheadshot {
        padding-top: 2.25vmin;
    }
}