@font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('./assets/fonts/HelveticaLTStd-Light.otf') format('opentype');
}
@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('./assets/fonts/HelveticaLTStd-Bold.otf') format('opentype');
}

.app {
  background-size: 100vw 100vh;
  background-color: #b6c5d5;
  background-image: linear-gradient(
    to bottom, transparent, #b6c5d5 100%
  ), url('./assets/Body\ Background\ 2.jpg');
  background-repeat: no-repeat;
  /* background-image: url('./assets/Body\ Background\ 2.jpg');
  background-repeat: no-repeat;
  background-color: linear-gradient(#a8875e, white);
  background-blend-mode: overlay; */
  /* background: url('./assets/Body\ Background\ 2.jpg') no-repeat left top, linear-gradient(#a8875e, white);; */
  /* background-image: linear-gradient(#a8875e, white); */
}

/* Mobile CSS */
@media (max-width: 771px) {
  .app {
    background-size: 100vw 100vh;
    background-color: #b6c5d5;
    background-image: linear-gradient(
      to bottom, transparent, #b6c5d5 72%
    ), url('./assets/Body\ Background\ 2.jpg');
    background-repeat: no-repeat;
  }
}