@font-face {
  font-family: 'HelveticaLTStd-Light';
  src: url('./assets/HelveticaLTStd-Light.otf') format('opentype');
}
@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('./assets/HelveticaLTStd-Bold.otf') format('opentype');
}

.app {
  background-image: url('./assets/Body\ Background\ 2.jpg');
  background-size: 100% 100vh;
}